*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
:root{
    --red : #f63440;
    --white : #fff;
    --light-white : #f5f5f5;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    background-color: lightgray;
   
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(246,52,64);
    background: linear-gradient(90deg, rgba(246,52,64,1) 0%, rgba(252,176,69,1) 100%);
   
  }
body{
    position: relative;
    overflow-x: hidden;
}
.red-btn
{
    background-color: var(--red);
    color: var(--white);
    padding: 10px 35px;
    border: 2px solid var(--red);
}
.red-btn:hover{
    background-color: transparent;
    color: var(--red);
      
}
#header nav{
    box-shadow: 0px 0px 4px 5px #f3f3f3;
    padding: 15px 0px;
}
#header nav .navbar-nav .nav-item .nav-link::first-letter
{
    font-size: 17px;
    color: var(--red) ;
    font-weight: bold;
}
#header nav .navbar-nav .nav-item .nav-link:hover
{
    color: var(--red) !important;
}
.menu-icon
{
    height: unset;
    width: unset;
}
.home-slider
{
    padding-top: 70px;
}
.home-slider .carousel-inner .carousel-item
{
    position: relative;
}
.home-slider .carousel-inner .carousel-item .slider-text-div
{
    position: absolute;
    top: 40%;
    left: 15%;
}
.slider-text-div h2{
    font-size: 60px;
    font-style: oblique;
}
.slider-text-div p{
    font-size: 20px;
    letter-spacing: 3px;
    
}
/* .carousel-control-prev .carousel-control-prev-icon ,
.carousel-control-next .carousel-control-next-icon
{
    filter: brightness(0.1) sepia(1) saturate(10000%);
} */
.carousel-indicators [data-bs-target]
{
    background-color: var(--red) !important;
}
.home-slider ,.offer-section, .product-section ,.mid-banner
{
    padding-bottom:75px;
}
.offer-sub-div img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.offer-sub-div
{
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
.offer-sub-div:after
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.40);
}
.offer-sub-div::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    /*background-color: rgba(255,255,255,0.7);
    */background-color: #5c3939b3;
    transform: skewX(23deg);
    -webkit-transform: skewX(23deg);
    -moz-transform: skewX(23deg);
    -ms-transform: skewX(23deg);
    -o-transform: skewX(23deg);
    transition: 0.8s ease-in;
    -webkit-transition: 0.8s ease-in;
    -moz-transition: 0.8s ease-in;
    -ms-transition: 0.8s ease-in;
    -o-transition: 0.8s ease-in;
}
.offer-sub-div:hover::before
{
    left:150%;
}
.offer-sub-div-main
{
    position: relative;
}
.offer-text-div
{
    position: absolute;
    top: 0;
    color: white;
    display: grid;
    place-items: center;
    flex-direction: column;
    z-index: 4;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.offer-sub-div-main p{
    letter-spacing: 2px;
    font-weight: 300;
}
.main-heading
{
    font-weight: 600;
    font-size: 30px;
    position: relative;
    letter-spacing: 3px;

}
.main-heading::first-letter
{
    font-size: 40px;
    color: var(--red);
   
}
.main-heading::after
{
    content: "";
    position: absolute;
    right: -35px;
    top: 25px;
    height: 4px;
    width: 30px;
    background-color: var(--red);
}
.main-heading::before
{
    content: "";
    position: absolute;
    right: -24px;
    top: 32px;
    height: 3px;
    width: 18px;
    background-color: #ffc107;
}
.pro-card
{
    position: relative;
    cursor: pointer;
    height: 380px;
}
.pro-card img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.pro-card[data-label]::before , 
.summer-special-right-div-card::before{
    position: absolute;
    top: 37px;
    right: -9px;
    content: '';
    background: rgb(246,52,64);;
    height: 28px;
    width: 28px;
    transform: rotate(45deg);
    z-index: -1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
  
  .pro-card[data-label]::after,
  .summer-special-right-div-card::after{
    position: absolute;
    content: attr(data-label);
    top: 11px;
    right: -15px;
    padding: 0.5rem;
    width: 6rem;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
    background: rgb(246,52,64);
    background: linear-gradient(90deg, rgba(246,52,64,1) 0%, rgba(252,176,69,1) 100%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 25px;
  }
.pro-card .img-second
{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.6s all;
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -ms-transition: 0.6s all;
    -o-transition: 0.6s all;
}
.pro-card:hover .img-second{
    opacity: 1;
    
}
.pro-card:hover .img-first
{
    opacity: 0;
}
.pro-container .card:hover .card-body h4{
    color:green;
    letter-spacing: 2px;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
    -moz-transition: 0.7s all;
    -ms-transition: 0.7s all;
    -o-transition: 0.7s all;
    font-weight: 600;
}
.mid-banner-div
{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.mid-banner-div img
{
    height: 100%;
    width: 100%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;

}
.mid-banner-div::after{
    content: "Up To 70% Off - SPRING SALE";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0,0, 0.55);
    width: 100%;
    height: 100%;
    color: white;
    display: grid;
    place-items: center;
    letter-spacing: 12px;
    font-size: 40px;
    font-weight: 600;
}
.mid-banner-div:hover img
{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.countdown-counter li{
    width: 100px;
    background: white;
    margin: 0px 30px 0px 0px;
    text-align: center;
    box-shadow: 1px 1px 8px 4px #f3f3f3;
    padding: 0px 8px 11px 8px;
    font-weight: 600;
}
.countdown-price del{
    font-size: 17px;
    color: #c1c0c0;
}
.summer-special-left-div h4{
    letter-spacing: 3px;
}
.testimonials-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 8px double #efefef;
    padding: 5px
}

#testimonials-slider .carousel-inner .card-body p span{
    color: var(--red);
    font-size:30px;
    font-weight: bold;
}
#testimonials-slider .carousel-control-prev
{
    left: -15%;
}
#testimonials-slider .carousel-control-next
{
    right: -15%;
}
#testimonials-slider .carousel-control-prev span{
    padding: 7px;
    border-bottom-left-radius: 15px;
    box-shadow: 1px 1px 9px 1px #d7d3d3;
    
}
#testimonials-slider .carousel-control-next span{
    padding: 7px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 1px 9px 1px #d7d3d3;
}
.contact-us .contact-us-p
{
    font-weight: 600;
}
.contact-icon
{
    background-color: var(--red);
    color: white;
    padding: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid var(--red);
    transition: 0.6s all;
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -ms-transition: 0.6s all;
    -o-transition: 0.6s all;
    font-weight: bold;
    cursor: pointer;
}
.contact-icon:hover{
    color: var(--red);
    background-color: var(--light-white);
    border: 1px solid var(--red);
}
.contact-right-div .contact-form .form-control{
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: 1px 1px 12px 3px #e5e3e3;
    padding: 15px;
}
.contact-right-div .contact-form .form-control::placeholder
{
    color: rgb(200, 199, 199);
}
.bottom
{
    background: rgb(246,52,64);
    background: linear-gradient(90deg, rgba(246,52,64,1) 0%, rgba(252,176,69,1) 100%);
}

